name: marp-github-actions

on: 
  push:
    branches:
      - main
      - feature/git-tutorial

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Setup Packages
        run: sudo apt-get update & sudo apt-get install jq
      
      - name: Make Directory
        run: mkdir dest & cp -r ./git-tutorial/imgs ./dest

      - name: Setup Permission
        run: chmod -R 777 $(pwd)

      - name: Build Marp git-tutorial PDF
        run: docker run --rm -u root --init -v "$(pwd):/home/marp/app/" 
              -e LANG="ja_JP.UTF-8" marpteam/marp-cli $(cat config.json | jq -r .[0].directory)/slide.md 
              --pdf
              -o ./dest/$(cat config.json | jq -r .[0].output_name).pdf
              --allow-local-files
      - name: Build Marp git-tutorial HTML
        run: docker run --rm -u root --init -v "$(pwd):/home/marp/app/" 
              -e LANG="ja_JP.UTF-8" marpteam/marp-cli $(cat config.json | jq -r .[0].directory)/slide.md 
              --html 
              -o ./dest/$(cat config.json | jq -r .[0].output_name).html
              --allow-local-files

      - name: Upload Files Pages
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./dest

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1